beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
idna
lxml
pycparser
PySocks
python-dateutil
requests
selenium
six
soupsieve
trio
trio-websocket
urllib3
wsproto
undetected-chromedriver
fake-useragent
tqdm
python-dotenv
loguru
